.bottom-panel {
    background-color: rgb(36, 36, 54);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    color:rgb(207, 199, 228);
}

.navbar{
    background-color: rgb(49, 49, 73);
    box-shadow: 5px 5px 5px 5px rgb(16, 16, 32);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(207, 199, 228);
    text-decoration: none;
}

.nav-item{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(207, 199, 228);
}

.card{
    max-width: 97%;
    text-align: center;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 5px;
    margin-top: 40px;
    border: 0;
    background-color: rgb(49, 49, 73);
    text-decoration: none;
    background-color: rgb(49, 49, 73);
    box-shadow: 5px 5px 5px 5px rgb(16, 16, 32);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-footer{
    opacity: 65%;
}

.datablock{
    opacity: 65%;
}

@media screen and (min-width: 800px)
{
  .card h5{
    font-size: 18px;
    color:rgb(241, 238, 248);
    float: none;
  }
  .card p{
    font-size: 14px;
    color:rgb(207, 199, 228);
    float: none;
  }
  .datablock{
    font-size: 14px;
    color:rgb(207, 199, 228);
    float: none;
  }

}

@media screen and (max-width: 800px)
{
  .card h5{
    font-size: 16px;
    color:rgb(207, 199, 228);
    float: none;
  }  
  .card p{
    font-size: 12px;
    color:rgb(207, 199, 228);
    float: none;
  }
  .datablock{
    font-size: 12px;
    color:rgb(207, 199, 228);
    float: none;
  }
  .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 98%;
    color:rgb(207, 199, 228);
    float: none;
  }

}

.articlenews{
    color:rgb(207, 199, 228);
    text-align: center;
    margin-top: 20px;
}

.newsimage{
    width: 44%;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px rgb(16, 16, 32);
    border-radius: 10px;
}

.aboutus{
    color:rgb(207, 199, 228);
    text-align: center;
    margin-top: 20px;
}

body {
    background-color: rgb(25, 25, 37);
    margin: 0;
}